body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    background-color: #94a8ff; 
    text-align: center;
    padding: 50px;
    text-align: center;
}


h1 {
    color: black; 
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 18px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.btn:hover {
    background-color: #45a049;
}