body {
    font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
    background-color: #94a8ff; 
    text-align: center;
    padding: 50px;
        text-align: center;

}

h1 {
    color: black; 
    text-align: center;
}

